.common{
    position:absolute;
}
.header{
    background-image: url('../assets/img/ocean.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: bold;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 300px;
    padding-top: 100px;
}
.navbar{
    display: flex;
    position: relative;
    top: 0px;
    right: 0px;
    width: 400px;
    float: right;
    z-index: 1;
    font-size: small;
}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.navbar a{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #285e8eb6;
    color: white;
    text-decoration: underline;
}
.navbar li{
    float: left;
}
.main{
    background-color: #e7f5fd;
    left: 0px;
    width: 60%;
    top: 405px;
    bottom: auto;
    padding-left: 10px;
    padding-right: 15px;
}
.right{
    background-color: #285e8e;
    color: white;
    right: 0px;
    top: 405px;
    bottom: auto;
    width: 35%;
    padding-left: 10px;
    padding-right: 10px;
}
.right h2{
    text-align: center;
    text-decoration: underline;
}
.tableau{
    left: 0px;
    width: 50%;
}
h1{
    color: white;
    font-size: 70px
}
h4{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
h6{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
p{
    font-size: 15px;
    font-style: italic;
    color: grey;
}
li{
    font-size: 18px;
    align-items: center;
    padding-left: 5px;
}
strong{
    color: #285e8e;
    font-size: larger;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-family: oxygen, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #285e8e;
}
a:hover{
    text-decoration: underline;
}
.tableau {
    width: 60%;
    height: 800px;
}